* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100vh;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.arka-plan-video {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Diğer içeriğin üstünde olmasını sağlar */
  object-fit: cover;
}



.card {
  background-color: rgb(196, 143, 245);
}

/* Font Family Bul */
